.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #a3aec9, #ffffff);
  padding: 7px 40px;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-title {
  padding-left: 375px; 
  font-size: 19px;
  font-weight: 700;
   color: #1e0f0f;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-role {
  font-weight: 500;
}

.logout-btn {
  padding: 8px 16px;
  background: #2f6178;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #316a84;
}
